<div class="container">
  <div class="container__login">
    <div class="container__login__saudation">
      <h2>Welcome back!</h2>
      <p>Tell us who you are.</p>
    </div>
    <div class="container__login__inputs">
      <input
        class="container__login__inputs__email"
        type="email"
        name="user-email"
        id="user-email"
        placeholder="Email"
      >
      <input
        class="container__login__inputs__passwd"
        type="password"
        name="user-password"
        id="user-password"
        placeholder="Password"
      >
    </div>
  </div>
  <div class="container__buttons">
    <button type="submit" class="container__buttons__accept">
      Log in
    </button>
    <button class="container__buttons__reject">
      Sign up
    </button>
  </div>
</div>
